
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<%- include('head.ejs') %>
<body data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="se-pre-con"></div>
    <%- include('navbar.ejs')%>
     <!--page banner start-->
    <div class="page-banner-brd">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner-brd-text text-center">
                        <h1><%= title %></h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
        <span class="banner-frame-one"></span>
        <span class="banner-frame-two"></span>
        <span class="banner-frame-three"></span>
        <span class="banner-frame-four"></span>
        <div class="shape-top-left" data-aos="fade-right" data-aos-delay="500"></div>
        <div class="shape-bottom-right" data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-delay="1500"></div>
    </div>
    <!--page banner end-->
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4 offset-sm-4 mt-3 mb-3 p-2" style="padding: 20px;background-color:white !important; box-shadow: black 2px 2px 5px;">
                <h2 class="text-center">
                    Login Your Account
                </h2>
                <form class="mb-5" id="loginForm">
                    <fieldset >
                        <div class="form-group mt-3">
                            <span class="email-error" style="color:crimson"></span>
                            <input type="email" name="email" placeholder="Enter your Email Here" id="" class="form-control" 
                            style="background-color: white !important;border: 1px solid black; border-radius: 0px !important;height:30px !important">
                        </div>
                        <div class="form-group mt-3">
                            <span class="password-error" style="color:crimson"></span>
                            <input type="password" name="Password" placeholder="Enter your Password Here" id="" class="form-control" 
                            style="background-color: white !important;border: 1px solid black; border-radius: 0px !important;height:30px !important">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-primary btn-block text-center mt-2" style="width: 100%;">Log In</button>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>
                                <a href="/Reset">Reset Your Password? </a>
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <span>
                                <a href="/Register">
                                    Create an Account
                                </a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const form = document.querySelector("form")
        const emailError = document.querySelector(".email-error")
        const passwordError = document.querySelector(".password-error")
        form.addEventListener('submit',async (e)=>{
            console.log('clicked')
            e.preventDefault()
            passwordError.textContent=""
            emailError.textContent=""
            const email = form.email.value
            const password = form.Password.value
            if(email==""){
                emailError.textContent='Email Should Not be empty'
            }
            if(password==''){
                passwordError.textContent='Password Should not be empty'
            }
            //post the form data 
            const res = await fetch("/Login",{
                method:'POST',
                body:JSON.stringify({email,password}),
                headers:{
                    'Content-Type':'application/json'
                }
            })
            const dataBack = await res.json()
            if(dataBack.user.error){
                emailError.textContent=dataBack.user.error
            }
            console.log(dataBack.user)
        })
    </script>
    <!--footer area start-->
    <%- include('footer.ejs') %>
</body>
</html>